@import url('./_error/form__tools_error.css');
@import url('./_success/form__tools_success.css');
@import url('./-message/form__tools-message.css');

.form__tools {
  width: 120px;
  height: 120px;
  display: flex;
  background-position: center;
  background-size: cover;
  margin: 24px auto 0;
}