@import url("./__field/form__field.css");
@import url("./__field-error/form__field-error.css");
@import url("./__field/_invalid/form__field_invalid.css");
@import url("./__submit-btn/form__submit-btn.css");
@import url("./__submit-btn/_inactive/form__submit-btn_inactive.css");
@import url("./__title/form__title.css");
@import url("./__close-btn/form__close-btn.css");
@import url("./__close-img/form__close-img.css");
@import url("./__tools/form__tools.css");
@import url("./__submit-btn/_dark/form__submit-btn_dark.css");
@import url("./__input/_dark/form__input_dark.css");
.form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: #0000007a;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s linear;
  z-index: 1;
}

.form_visible {
  display: flex;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 525px) {
  .form {
    width: 282px;
  }
}